<div class="box box-blog">
	<div class="box-b">
		<div class="box-t">
			<div class="post-head">
				<h4>Leave a Reply</h4>
			</div>

			<div class="comment-form">
				<form action="http://hunter.johnson.awshosting.info/wp-awsh/wp-comments-post.php" class="validate-form2" method="post">
					<input type="hidden" name="comment_post_ID" value="121" />
					<div class="msg-alert">
						<p>
							<strong>Error!</strong> Some field's are required!
						</p>
					</div>
					<div class="msg-thanks">
						<p>
							<strong>Thank You!</strong> Your comment was posted!
						</p>
					</div>
					<div class="row">
						<input type="text" id="fname-field" name="author" class="field required" />
						<label><span>Your Name</span> (required)</label>
						<div class="cl">
							&nbsp;
						</div>
					</div>

					<div class="row">
						<input type="text" id="email" name="email" class="field required valid-email" />
						<label><span>Your Email</span> (required) Will not be published</label>
						<div class="cl">
							&nbsp;
						</div>
					</div>

					<div class="row">
						<textarea name="comment" id="comment" class="field message required" cols="100" rows="5"></textarea>
						<div class="cl">
							&nbsp;
						</div>
					</div>
					<div class="row">
						<input type="submit" class="form-btn" value="Add Comment" />
						<div class="cl">
							&nbsp;
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>