	<div id="footer">
		<div class="footer-nav left">
			<ul>
			   {%include 'Common/Nav-Items.html'%}
			</ul>
		</div>
		
		<p class="copy right">Copyright &copy; The Hosting Facade</p>
		
	
		<div class="cl">&nbsp;</div>
	</div>
</div>
</body>
</html>