<li>
	<a href="{{SITE_URL}}" class="active">Home</a>
</li>
<li>
	<a href="{{SITE_URL}}/why-this-blog/">Why This Blog?</a>
</li>

<li>
	<a href="{{SITE_URL}}/hosting-acquisition-tatics/">Mercy Acquisitions</a>
</li>
<li>
	<a href="{{SITE_URL}}/bait-and-switch/">Bait And Switch</a>
</li>
<li>
	<a href="{{SITE_URL}}/about-this-project/">About This Project</a>
</li>