<div class="slider">
	<div class="slider-nav">
		{% for i in range(1, SLIDER_ITEMS|length) %}
		<a href="#" class="left notext">{{i}}</a>
		{% endfor %}

		<div class="cl">
			&nbsp;
		</div>
	</div>
	<ul>

		{% for item in SLIDER_ITEMS %}
		<li>
			<div class="item">
				<div class="text">
					<h3><em>{{item.SLIDER_TEXT_H3|raw}}</em></h3>
					<h2><em>{{item.SLIDER_TEXT_H2|raw}}</em></h2>
				</div>
				<img src="{{item.IMG|raw}}" alt="" />
			</div>
		</li>
		{% endfor %}

	</ul>
</div>
