<div id="header">
	<h1 id="logo"><a href="#" class="notext">beSmart</a></h1>
	<div class="socials right">
		<ul>
			<li>
				<a href="#" class="rss">RSS</a>
			</li>
			<li>
				<a href="#" class="fb">Facebook</a>
			</li>
			<li class="last">
				<a href="#" class="twit">Twitter</a>
			</li>
		</ul>
	</div>
	<div class="cl">
		&nbsp;
	</div>
</div>