{%include 'Common/Slider.html'%}
<div class="page">
	<div id="content" class="left">
		<div class="highlight">
			<h3>{{PAGE_TITLE}}</h3>
			<img src="{{PREVIEW_IMG}}" alt="" class="right" width="80" />
			<p>
				{{CONTENT|raw}}
			</p>
			
		</div>
	</div>

</div>
<div id="sidebar" class="right" style="margin-right:20px;">

	<!-- sidebar widget -->
	<div class="entry sidebar-widget sidebars">

		{% if is_active_sidebar('right-sidebar-1') %}
		{% set result = dynamic_sidebar('right-sidebar-1') %}
		{% endif %}

	</div>
	<!-- end sidebar widget -->

	<!-- feature-in widget -->
	<div class="entry">
		<div class="cl">
			&nbsp;
		</div>
	</div>
	<!-- end feature-in widget -->

</div>
<div class="cl">
	&nbsp;
</div>

