{%include 'header.html'%}
<div class="border">
	{%include 'social.html'%}

	{%include 'navigation.html'%}
	{%include 'slider.html'%}
	<div id="main">
		<div id="content" class="left">
			<div class="highlight">
				<h3>Welcome Note</h3>
				<img src="css/images/highlight.gif" alt="" class="right" />
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				</p>
				<a href="#" class="more">Find out more</a>
			</div>

			<div class="projects">
				<h3>Latest projects</h3>
				<div class="item">
					<div class="image left">
						<a href="#"><img src="css/images/project01.jpg" alt="" /></a>
					</div>
					<div class="text left">
						<h4>simply dummy title</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is
						</p>
						<a href="#" class="more">Find out more</a>
					</div>
					<div class="cl">
						&nbsp;
					</div>
				</div>
				<!--next-->
				<div class="item">
					<div class="image left">
						<a href="#"><img src="css/images/project02.jpg" alt="" /></a>
					</div>
					<div class="text left">
						<h4>simply dummy title</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is
						</p>
						<a href="#" class="more">Find out more</a>
					</div>
					<div class="cl">
						&nbsp;
					</div>
				</div>
				<!--next-->
				<div class="item">
					<div class="image left">
						<a href="#"><img src="css/images/project03.jpg" alt="" /></a>
					</div>
					<div class="text left">
						<h4>simply dummy title</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is
						</p>
						<a href="#" class="more">Find out more</a>
					</div>
					<div class="cl">
						&nbsp;
					</div>
				</div>
				<!--next-->
				<div class="item">
					<div class="image left">
						<a href="#"><img src="css/images/project04.jpg" alt="" /></a>
					</div>
					<div class="text left">
						<h4>simply dummy title</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is
						</p>
						<a href="#" class="more">Find out more</a>
					</div>
					<div class="cl">
						&nbsp;
					</div>
				</div>
			</div>
		</div>
		<div id="sidebar" class="right">
			<h3>Some Links</h3>
			<div class="sidebar-nav">
				<ul>
					<li>
						<a href="#">Lorem Ipsum</a>
					</li>
					<li>
						<a href="#">Lorem Ipsum</a>
					</li>
					<li>
						<a href="#">Lorem Ipsum</a>
					</li>
					<li>
						<a href="#">Lorem Ipsum</a>
					</li>
					<li>
						<a href="#">Lorem Ipsum</a>
					</li>
				</ul>
			</div>

			<a href="#" class="btn-buy"><em>Buy Now</em></a>

			<div class="advertisement">
				<h3>Advertisement</h3>
				<div class="ads">
					<div class="ad left">
						<a href="#"><img src="css/images/ad01.gif" alt="" /></a>
					</div>
					<div class="ad right">
						<a href="#"><img src="css/images/ad02.gif" alt="" /></a>
					</div>
					<div class="cl">
						&nbsp;
					</div>
				</div>
			</div>

			<div class="info">
				<h3>Some Title</h3>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
				</p>
			</div>
		</div>
		<div class="cl">
			&nbsp;
		</div>
	</div>

	<div class="shadow-l"></div>
	<div class="shadow-r"></div>
	<div class="shadow-b"></div>
</div>

<!--footer-->
{%include 'footer.html'%}