<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
	<head>
		<title>{{SITE_TITLE}}</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="{{ASSETS_URL}}/css/style.css" type="text/css" media="all" />
		<link rel="stylesheet" href="{{ASSETS_URL}}/css/jquery.jcarousel.css" type="text/css" media="all" />
		<!--[if IE 6]>
		<link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" />
		<![endif]-->
		<link rel="shortcut icon" href="{{ASSETS_URL}}/css/images/favicon.ico" />
		<script type="text/javascript" src="{{ASSETS_URL}}/js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="{{ASSETS_URL}}/js/jquery.jcarousel.pack.js"></script>
		<script type="text/javascript" src="{{ASSETS_URL}}/js/func.js"></script>

		<style type="text/css">
		</style>
	</head>
	<body>
		<div class="shell">
			<div class="border">
				{%include 'Common/Social.html'%}

				{% autoescape false %}
				{% include NAVIGATION%}
				{% endautoescape %}

				{% autoescape false %}
				{% include PAGE%}
				{% endautoescape %}

				<div class="shadow-l"></div>
				<div class="shadow-r"></div>
				<div class="shadow-b"></div>
				{% autoescape false %}
				{% include FOOTER%}
				{% endautoescape %}

			</div>

		</div>

	</body>
</html>